.app {
  min-height: 100dvb;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111111;
}

.header {
  background-color: #282c34;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
