.grid {
  display: flex;
}

.hovered-node {
  position: absolute;
  background: hsla(0, 0%, 0%, 0);
  z-index: 1;
  pointer-events: none;
}

.stats {
  position: absolute !important;
  top: 10px;
  right: 10px;
}